h2, h4, h3, p{
color: #1A3C6E;
text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 20px;
}

li {
    list-style-type: none;
    margin: 5px 0;
    text-align: center;
}

table {
    text-align: left;
    width: 40%;
    border-collapse: collapse;
    margin: 20px auto;
}